.contactWrapper {
    display: block;
}

textarea {
    resize: vertical;
}

.formField {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 45%;
}

.formLabel {
    font-size: 14pt;
    cursor: pointer;
    font-family: 'Monomaniac One', 'Ysabeau Infant', sans-serif;
}

.submitBtn {
    background: var(--color2b);
    color: white;
    border: 1px solid var(--color2a);
    margin-top: 15px;
    padding: 3px 10px;
    cursor: pointer;
}

.submitBtn:hover {
    background: var(--color2c);
}